<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= docTitle %></title>
</head>
<style>
    .my-tilte{
      background-color: blueviolet;
      color: white;
      font-family: sans-serif;
    }
    .add-btn{
      background-color: rgb(24, 144, 24);
      color: white;
      border: none;
    }
    .remove-btn{
      background-color: rgb(144, 24, 34);
      color: white;
      border: none;
    }
  </style>
<body>
    <h3 class="my-tilte">hello arman</h3>
    <button class="add-btn">add product</button>
    <button class="remove-btn">remove</button>
</body>

</html>
