<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= docTitle %></title>
</head>
<style>
    .my-tilte{
      background-color: blueviolet;
      color: white;
      font-family: sans-serif;
    }
  </style>
<body>
    <h3 class="my-tilte">hello arman</h3>
</body>
</html>